<html>
<title>
Ansible RHCE8
</title>
<head>
<b>Ansible RHCE8</b>
</head>
<body>
<p></p>
<p></p>
<h1>
<b>The address of the server is: {{ ansible_eth1.ipv4.address }}</b>
<p></p>
<p></p>
</h1>
</body>
<footer>
<b>Ansible RHCE8</b>
</footer>
</html>
